body.ukraine, body.transrights {
  padding-top: 22px;
}

body.ukraine.transrights {
  padding-top: 44px;
}

body.ukraine::after, body.transrights::before {
  background-color: #fff;
  color: #000;
  position: absolute;
  height: 22px;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  font-size: 16px;
  line-height: 16px;
  justify-content: center;
  align-items: center;
}

body.ukraine.transrights::after {
  top: 22px;
}

body.ukraine::after {
  background: #ffeb7f;
  content: "🇺🇦 Слава Україні! Glory to Ukraine!";
}

body.transrights::before {
  background: #a9e3f9;
  content: "🏳️‍⚧️ Trans Rights are Human Rights!";
}